.background{
    height: 500px;
    background: url(img/fond.jpg) round;
}

.background-resto{
    padding-bottom: 10%;
}

.title{
    padding: 5%;
    color: #000000;
}

.adress{
    padding-left: 8%;
}

.boutton{
    margin-left: 15px;
}

.social{
    display: block;
}

.listSocial{
    display: flex;
}

.flex{
    flex: 1;
}

footer{
    background-color: gray;
}

.carte{
    display: grid;
    margin: auto;
    height: 300px;
}

.widthCard{
    width: 265px;
}

.card-grid{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
}


a{
    outline: none;
    text-decoration: none;
}

.panier{

}


 /* The sidepanel menu */
 .sidepanel {
    height: 350px; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    background-color: darkgray;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    margin-top: 78px;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  } 


@media screen and (max-width: 850px)

{

    .card-grid{
        display: flex ;
        flex-direction: column;
    }

    .carte{
        margin-bottom: 10%;
    }
}
