{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Inscription{% endblock %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Inscrivez vous</h1>
{{ form(form, { 'attr': {'style': 'padding:2%'} }) }}
{% endblock %}