      <footer>
        <div class="listSocial">

            <ul class="list-group list-group-horizontal flex">
                
                <li class="social"></li>    
                <a href="">
                    <img src="{{ asset('img/face.png')}}" width="50" height="50">
                </a>                  
                </li>

                
                <li class="social">
                <a href="">    
                    <img src="{{ asset('img/twitter.png')}}" width="50" height="50">
                </a>    
                </li>
                
                <li class="social">
                <a href="">
                    <img src="{{ asset('img/insta.png')}}" width="50" height="50">
                </a>    
                </li>

            </ul>

            <p>© 2020 EatHome</p>


        </div>
      </footer>